
.game-container {
    margin: auto;
    width: 1200px;
    
    display: grid;
    grid-template-columns: repeat(24, 50px);
    grid-template-rows: repeat(13, 50px);
    background-color: gray;
}

.image {
    display: block;
    max-width: 100%;
    height: 80%;
    border: 2px solid red;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.attack {
    grid-row: 12 / 13;
    grid-column: 2 / 4;
}

.heal {
    grid-row: 12 / 13;
    grid-column: 5 / 7;
}

.player {
    grid-row: 1 / 11;
    grid-column: 1 / 10;
    border: 2px solid blue;
    padding: 10px;
}

.combatLog {
    grid-row: 1 / 11;
    grid-column: 11 / 16;
    overflow-y: auto;
}

.enemy {
    grid-row: 1 / 11;
    grid-column: 16 / 25;
    border: 2px solid red;
    padding: 10px;
}

.name {
    text-align: center;
}

.victoryPortal {
    margin: auto;
    text-align: center;
}